// BORDER-RADIUS
$defaultBorderRadius: spacing(2);

// BOX-SHADOW
$defaultBoxShadow:  0px 3px 3px rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$breakpointSmall: 576px;
$breakpointMedium: 768px;
$breakpointLarge: 1024px;
$breakpointExtraLarge: 1280px;

// COLORS
$clr-white: #ffffff;
$clr-black: #000000;
$clr-gold: #ffd700;